body
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;       
  align-items: center;
  box-sizing: border-box;
}

#iconoBoton{

    background-color: #8B0000;
    border: none;
    
}
.datoNombre{

    color: #7FFF00;
text-align: center;
font-family: Creepster;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: normal;


}
.pablo{

    color: #FFD700;
text-align: center;
font-family: Creepster;
font-size: 31px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
header{

  display: flex;
height: 154px;
padding: 49px 93px;
justify-content: center;
align-items: center;
gap: 673px;
align-self: stretch;
background: #8B0000;
}

header h1{

    color: #7FFF00;
text-align: center;
font-family: Creepster;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

header img{

    width: 150px;
height: 150px;
aspect-ratio: 1/1;
}

.fotoYNombre{
    display: flex;
height: 440px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
    
}

.fotoYNombre img{

    width: 251px;
height: 251px;
flex-shrink: 0;
border-radius: 251px;

}

.fotoYNombre p{

    color: #7FFF00;
text-align: center;
font-family: Creepster;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.ambasInformacion{

    display: flex;
align-items: center;
align-self: stretch;
border-radius: 26px;
}

.informacion{

    display: flex;
width: 716px;
height: 340px;

flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.Nombre{

    display: flex;
padding: 22px 69px;
justify-content: center;
align-items: center;
gap: 18px;
border-radius: 32px;
background: #1C1C1C;
}


.NumeroDeLegajo{
display: flex;
padding: 22px 69px;
justify-content: center;
align-items: flex-start;
gap: 18px;
border-radius: 32px;
background: #1C1C1C;
}

.informacion2{
display: flex;
width: 721px;

flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.materia{
    display: flex;
padding: 22px 69px;
align-items: center;
gap: 18px;
border-radius: 32px;
background: #1C1C1C;
}

.curso{
display: flex;
padding: 22px 69px;
justify-content: center;
align-items: flex-start;
gap: 18px;
border-radius: 32px;
background: #1C1C1C;

}

.links{
    display: flex;
height: 316px;
padding: 62px 119px;
justify-content: center;
align-items: center;
gap: 143px;
align-self: stretch;
}

.fanPage{
    display: flex;
width: 302px;
height: 302px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 32px;
background: #8B0000;
}

.fanPage img{

    width: 226px;
height: 127.125px;
flex-shrink: 0;
aspect-ratio: 226.00/127.13;
}

.fanPage a{
    color: #FFD700;
text-align: center;
font-family: Creepster;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.paginaComercial{
    display: flex;
width: 302px;
height: 302px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 32px;
background: #8B0000;
}

.paginaComercial img{
    width: 192px;
height: 128px;
flex-shrink: 0;
aspect-ratio: 3/2;
}

.paginaComercial a{

    color: #FFD700;
text-align: center;
font-family: Creepster;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.galeriaUrbana{

    display: flex;
width: 302px;
height: 302px;
padding: 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 32px;
background: #8B0000;
}

.galeriaUrbana img{

    width: 137px;
height: 137px;
flex-shrink: 0;
aspect-ratio: 1/1;
}

.galeriaUrbana a{

    color: #FFD700;
text-align: center;
font-family: Creepster;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

footer{
    display: flex;
height: 138px;
padding: 51px 544px;
flex-direction: column;
justify-content: flex-end;
align-items: center;
gap: 10px;
align-self: stretch;
}

footer p{

    color: #000;
text-align: center;
font-family: Cousine;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

body.dark-mode {
  background-color: #262626;

}


@media screen and (max-width: 550px){

body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; 
}


header{
    height: auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

header h1{
    font-size: 36px;
}

header img{
    width: 80px;
    height: 80px;
}


.fotoYNombre{
    padding: 20px;
    gap: 30px;
    height: auto;
}

.fotoYNombre img{
    width: 200px;
    height: 200px;
}

.fotoYNombre p{
    font-size: 28px;
}


.ambasInformacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}


.informacion{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.informacion .Nombre,
.NumeroDeLegajo{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


.informacion2{
    width: 100%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.materia,
.curso{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


.links{
    width: 100%;
    padding: 20px;
    height: auto;
    flex-direction: column;
    gap: 30px;
}

.fanPage,
.paginaComercial,
.galeriaUrbana{
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px;
}


footer{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer p{
    font-size: 18px;
}

}


